.content {
  width: 100%;
  /* overflow-y: auto;
  height: 100vh; */
}

.write {
  position: fixed;
  cursor: pointer;
  right: 50px;
  bottom: 270px;
  border-radius: 100%;
  background-color: greenyellow;
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 800px) {
  .content {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: auto;
  }
  .write {
    display: none;
  }
}
